<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        Slug's Bus Schedule
    </title>

    <head>
            

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <!-- bootstrap select cdn-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

            <link type="text/css" rel="stylesheet" href="/site.css">
    </head>
    <body class="content text-center">

            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <header class="masthead mb-auto">
                      <div class="inner">
                        <h3 class="masthead-brand">Slug Bus</h3>
                        <nav class="nav nav-masthead justify-content-center">
                          <a class="nav-link active" href="">Home</a>
                          <a class="nav-link" th:href="@{BusCard}">Bus Schedules</a>
                          <a class="nav-link" href="https://www.scmtd.com/en/routes/20194/UC/wd">Santa Cruz Metro</a>
                        </nav>
                      </div>
                    </header>
                  
                    <main role="main" class="inner cover">
                      <h1 class="cover-heading">Welcome to the Slug Bus Schedule</h1>
                      <p class="lead">Start by turning on location services or select your location</p>
                      
                      <br/>

                      <select class="selectpicker" title="Choose your location">
                          <option>Cowell College</option>
                          <option>Stevenson College</option>
                          <option>Crown College</option>
                          <option>Merill College</option>
                          <option>Porter College</option>
                          <option>Kresge College</option>
                          <option>Oakes College</option>
                          <option>Rachel Carson College</option>
                          <option>College 9</option>
                          <option>College 10</option>
                      </select>
                        
                      <br/>

                      
                    </main>
                  
                    <footer class="mastfoot mt-auto">
                      <div class="inner">
                        <p>Summer 2019</p>
                      </div>
                    </footer>
                  </div>


    </body>
</html>